.fixedHeader {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.content {
  margin-top: 64px;
  height: calc(100vh - 134px);
}

.footer {
  background-color: #001529;
  color: rgba(255, 255, 255, 0.65);
}